body {
  background-color: rgb(24, 28, 48);
  font-family: "Montserrat", sans-serif;
  margin: auto 0px;
}
p {
  color: #e6ddc4;
  margin: 0px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 40px;
}
.menu {
  display: flex;
  width: 300px;
  justify-content: space-around;
}

.item-menu {
  list-style-type: none;
  position: relative;
}

h2 {
  text-shadow: 2px 2px black;
  font-size: 40px;
  text-align: center;
  color: #678983;
  margin: 30px;
}
.titulo-blanco {
  text-align: center;
  text-shadow: 2px 2px gray, 6px 6px black;
}

svg {
  width: 200px;
  height: 80px;
}
header {
  background: url(./imagenes/codigo.jpg) 50% 0% fixed;
  background-size: cover;
  min-height: 500px;
  color: #eeeeee;
  font-size: 28px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 100px;
}
.cont-padre {
  margin: 100px 0px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.card {
  width: 350px;
  height: 400px;
  border: 5px solid #678983;
  background-color: #e6ddc4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.img-card {
  width: 100%;
  margin: 0px;
}
.desc-car {
  width: 90%;
  text-align: center;
  height: 30px;
  color: #678983;
  font-size: 20px;
}
.boton-ver {
  padding: 10px;
  border-radius: 10px;
  background-color: #181d31;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 2px 3px #678983;
  text-align: center;
  text-decoration: none;
  width: 40%;
  margin-bottom: 20px;
  color: #e6ddc4;
}
footer {
  background-color: #678983;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  color: #181d31;
}
.footer-left {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 60px;
}
.logo {
  height: 80px;
}
.titulo-foot {
  font-size: 14px;
}
.card-hist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px 50px;
  gap: 20px;
  background-color: linear-gradient(10% #e6ddc4, #181d31 100%);
}
.cont-historia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 5px;
  background-color: black;
  width: 70%;
}
.barra {
  background-color: #1d1d1d;
  border-radius: 10px;
  padding: 2px 5px;
  display: flex;
  justify-content: space-between;
}
.botonera {
  display: flex;
  gap: 20px;
}
#showtime {
  padding-top: 15px;
  padding-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.text-hist {
  width: 45%;
}
.contenedorVideo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}
.video {
  width: 100%;
}
#play,
#pause {
  width: 80px;
}
.botonesVideo:active,
.reinicio:active,
.boton-ver:active,
.botonesvideo:active {
  transform: translate(3px, 2px);
  box-shadow: 0px 0px darkgray;
}
.botonesvideo {
  box-shadow: 2px 3px #678983;
  border-radius: 10px;
  background-color: #e6ddc4;
  color: #181d31;
}
.item-link {
  border-radius: 7px;
  background-color: #181d31;
  color: #e6ddc4;
}
.item-link,
.botonesvideo {
  padding: 10px;
  text-decoration: none;
  padding: 10px;
  font-weight: 300;
}
.juego {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cajas {
  display: flex;
  flex-direction: row;
}
.caja {
  width: 275px;
  height: 400px;
  display: flex;
  border: 2px solid black;
  background-color: grey;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#cajaimagenes {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 40px;
}
.imagen {
  width: 275px;
  height: 400px;
}
.reinicio {
  display: flex;
  margin: auto;
  padding: 10px 100px;
}
main {
  padding: 100px 20px;
}
.item-menu:active {
  transform: translate(3px, 2px);
}
.item-link:after,
.item-link:before {
  content: " ";
  width: 20px;
  height: 15px;
  position: absolute;
  transition: all 1s;
}
.item-link:after {
  top: -15px;
  left: -8px;
  border-top: 6px solid #678983;
  border-left: 6px solid #678983;
}
.item-link:before {
  bottom: -15px;
  right: -8px;
  border-bottom: 5px solid #678983;
  border-right: 5px solid #678983;
}

.item-link:hover:before,
.item-link:hover:after {
  width: 120%;
  height: 290%;
}
.mon1 {
  animation: part ease-in 5s;
  animation-iteration-count: 1;
}

.mon2 {
  animation: part ease-in 6s;
  animation-iteration-count: 1;
}
@keyframes part {
  0% {
    transform: translate(0, -10px);
    opacity: 0;
  }
  20% {
    transform: translate(0, -10px);
    opacity: 0;
  }
  30% {
    transform: translate(0, 0);
    opacity: 1;
  }
  90% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
